<div>
    <div class="row">

        <div class="col-md-12">
            <h2>Movies</h2>
            <div carousel settings="home.sliderSettings">
                <div class="items-container" style="width: 100%;">
                    <div ng-repeat="item in home.movies">
                        <div ng-bind="item.title" class="text-center"></div>
                        <!-- <movie-item-view content="item" /> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row hidden">
        <div ng-repeat="x in home.movies | orderBy: 'release_date'" class="movie-view-wrapper col-xs-12 col-sm-6 col-md-4 text-center">
            <movie-item-view content="x" />
        </div>
    </div>


</div>