$sidebar-width: 30%;
html,
body {
	width: 100%;
	height: 100%; // color: $primary-text-color-primary;
}

body {
	// font-size: 10px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

header,
footer {
	width: 100%;
}

main.page-content {
	position: relative;
	width: 100%; // height: 100%;
	height: calc(100% - 70px);
	margin-top: -20px; // overflow: auto;
	@extend .grow;
}

img {
	display: block;
}

.view-container {
	position: relative;
	height: 100%;
}

.view-page {
	position: relative;
	height: 100%;
	aside {
		position: relative;
		width: $sidebar-width;
		height: 100%;
		.sidebar-menu {
			padding: 30px;
		}
	}
	main {
		position: relative;
		width: auto;
		height: 100%;
		overflow: auto;
	}
}