$sidebar-width: 30%;
.view-page {
	aside {
		position: relative;
		width: $sidebar-width;
		.sidebar-menu {
			padding: 30px;
		}
	}
	main {
		position: relative;
		width: auto;
		overflow: auto;
	}
}

.home-view {
	@extend .flexbox;
	aside {}
	main {
		padding: 30px;
		@extend .grow;
	}
}

.movie-view-wrapper {
	margin-bottom: 20px;
}

.movie-item-view {
	display: inline-block;
	margin: auto;
	.spinner {
		width: 30%;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
	}
	.movie-poster {
		height: 100%;
		max-width: 100%;
		max-height: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.title {
		padding: 10px;
		@extend .text-ellipsis;
	}
}