.home-view {
	@extend .flexbox;
	aside {}
	main {
		padding: 30px;
		@extend .grow;

		.movies-container {
			// @include make-row;
			.movie-view-wrapper {
				// @include make-md-column(2.4);
			}
		}
	}
}

.movie-view-wrapper {
	margin-bottom: 20px;
}

.movie-item-view {
	display: inline-block;
	margin: auto;
	.spinner {
		width: 30%;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
	}
	.movie-poster {
		width: 100%;
		max-width: 100%;
		max-height: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.title {
		padding: 10px;
		@extend .text-ellipsis;
	}
}