.list-view {
	@extend .flexbox;
	aside {}
	main {
		padding: 30px;
		@extend .grow;
		ul.list-group {
			li.list-group-item {
				.panel-title a:hover,
				.panel-title a:focus,
					{
					text-decoration: none;
					.panel-heading span {
						text-decoration: underline;
					}
					.panel-heading small {
						text-decoration: none;
					}
				}
				.panel-group {
					margin-bottom: 0;
				}
			}
		}
	}
}